* {
    box-sizing: border-box;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    padding: 3em;
    background-color: lightblue;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}
.title {
    text-align: center;
    
}


.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

[data-modal] {
    display: none;
    flex-direction: column;
    align-items: center;
    height:700px;
    width: 600px;
    padding: 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
[data-modal] img {
    width: 80%;
}
[data-modal] a {
    background-color: lightblue;
    padding: 1em 3em;
    box-shadow: 0 0 10px;
    margin-top: auto;
}



.info {
    display: flex;
    flex-direction: column;
}

form {
    border: solid black;
}
.container {
    border: solid ;
}