* {
    box-sizing: border-box;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    font-size: 1.5rem;
    width: min(700px, 100%);
    height: 70vh;
    padding: 3em;
    background-color: lightblue;
    color: white;
    border: 1px solid hotpink;
    display: flex;
    flex-direction: column;
    
}
.title {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}